<% model_name = @image.class.model_name.human %>
<h1><%= t('.title', model: model_name) %></h1>

<%= form_for @image, builder: CustomFormBuilder, :html => {:multipart => true} do |f| %>
  <% f.form_error %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% f.field_error :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.collection_select :category, image_categories, :last, :first %>
  </div>
  <div class="field">
    <%= f.label :tags_text %>
    <%= f.text_field :tags_text %>
  </div>
  <div class="field">
    <%= f.label :cover %>
    <%= f.file_field :cover %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
